{% block content %}
<div class="row" style="background-color: #ffffff">
    <div class="col-sm-12">
        <div class="bs-example-popovers" style="background-color: #ff8000; border: 2px solid#ffffff; margin-bottom: 7px">
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" style="color: #0e5741; margin-bottom: 5px; margin-top: 5px; margin-left: 15px"><strong>Contas Perdidas</strong></button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" style="color: #0e5741"><strong>Rankings</strong></button>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de Contas Ganhas</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #006600; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> Contas Ganhas</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de Contas Perdidas</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #ff3300; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">50 </i> Contas Perdidas</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total Pendentes de Fechamento</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #ff8000; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> Contas Pendentes</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total com Alta Expectativa</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #006600; margin-left: 14px; font-family: Roboto,Arial,sans-serif">300.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> contas pendentes</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de prêmio</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #73879C; margin-left: 14px; font-family: Roboto,Arial,sans-serif">3.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> contas inseridas</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="plot1">
        <div id="myDiv" style="margin-top: 10px; height: 480px"></div>
    </div>
   <div class="col-sm-6" id="plot2">
        <div id="myDiv2" style="margin-top: 10px; height: 480px"></div>
    </div>

    <div class="col-sm-3" id="plot3">
        <div id="myDiv3" style="margin-top: 10px; height: 480px"></div>
    </div>
    <div class="col-sm-3" id="plot4">
        <div id="myDiv4" style="margin-top: 10px; height: 480px "></div>
    </div>
</div>

<!--
    <div class="col-sm-3" id="plot4" style="margin-top: 10px; height: 400px;">
        <div id="myDiv4"></div>
    </div>
    -->






<div class="row">
    <div class="col-sm-6">
        <h2 style="margin-left: 30px; color: #004d40">Top 10 Congêneres</h2>
        <table class="table table-hover">
            <thead>
                <tr style="background-color: #ef6c00; color: #ffffff">
                    <th>Ranking</th>
                    <th>Congêneres</th>
                    <th>Quantidade</th>
                    <th>Prêmio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Allianz</td>
                    <td>10</td>
                    <td>100.000</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sompo</td>
                    <td>9</td>
                    <td>90.000</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Tokio Marine</td>
                    <td>8</td>
                    <td>80.000</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Pottencial</td>
                    <td>7</td>
                    <td>70.000</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>J. Malluceli</td>
                    <td>6</td>
                    <td>60.000</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Fairfax</td>
                    <td>5</td>
                    <td>50.000</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>XL Catlin</td>
                    <td>4</td>
                    <td>40.000</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Argo</td>
                    <td>3</td>
                    <td>30.000</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Porto Seguro</td>
                    <td>2</td>
                    <td>20.000</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Travellers</td>
                    <td>1</td>
                    <td>10.000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h2 style="margin-left: 30px; color: #004d40">Top 10 Congêneres</h2>
            <table class="table table-hover">
            <thead>
                <tr style="background-color: #ef6c00; color: #ffffff">
                    <th>Ranking</th>
                    <th>Congêneres</th>
                    <th>Quantidade</th>
                    <th>Prêmio</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Allianz</td>
                    <td>10</td>
                    <td>100.000</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Sompo</td>
                    <td>9</td>
                    <td>90.000</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Tokio Marine</td>
                    <td>8</td>
                    <td>80.000</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Pottencial</td>
                    <td>7</td>
                    <td>70.000</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>J. Malluceli</td>
                    <td>6</td>
                    <td>60.000</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Fairfax</td>
                    <td>5</td>
                    <td>50.000</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>XL Catlin</td>
                    <td>4</td>
                    <td>40.000</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Argo</td>
                    <td>3</td>
                    <td>30.000</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Porto Seguro</td>
                    <td>2</td>
                    <td>20.000</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Travellers</td>
                    <td>1</td>
                    <td>10.000</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include 'dashboard/includes/dashboard_scripts.html' %}

{% endblock %}