{% block content %}
<div class="row" style="background-color: #ffffff">
    <div class="col-sm-12">
        <div class="bs-example-popovers" style="background-color: #CDC9C9; border: 2px solid#ffffff; margin-bottom: 7px">
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" style="color: #0e5741; margin-bottom: 5px; margin-top: 5px; margin-left: 15px"><strong>Contas Perdidas</strong></button>
            <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" style="color: #0e5741"><strong>Rankings</strong></button>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#0dbf7e; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de Contas Ganhas</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #0dbf7e; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> Contas Ganhas</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#0dbf7e; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de Contas Perdidas</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #ff3300; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">50 </i> Contas Perdidas</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#0dbf7e; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total Pendentes de Fechamento</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #ff8000; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> Contas Pendentes</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#0dbf7e; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total com Alta Expectativa</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #006600; margin-left: 14px; font-family: Roboto,Arial,sans-serif">300.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> contas pendentes</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#0dbf7e; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de prêmio</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #73879C; margin-left: 14px; font-family: Roboto,Arial,sans-serif">3.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> contas inseridas</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="plot1">
        <div id="myDiv" style="margin-top: 10px; height: 480px"></div>
    </div>
   <div class="col-sm-6" id="plot2">
        <div id="myDiv2" style="margin-top: 10px; height: 480px"></div>
    </div>

    <div class="col-sm-3" id="plot3">
        <div id="myDiv3" style="margin-top: 10px; height: 480px"></div>
    </div>
    <div class="col-sm-3" id="plot4">
        <div id="myDiv4" style="margin-top: 10px; height: 480px "></div>
    </div>
</div>

<!--
    <div class="col-sm-3" id="plot4" style="margin-top: 10px; height: 400px;">
        <div id="myDiv4"></div>
    </div>
    -->






<div class="row">
    <div class="col-sm-6">
        <h2 style="margin-left: 0px; color: #0e5741; border-bottom: 2px solid#0dbf7e">Top 10 Corretores</h2>
        <table class="table table-hover">
            <thead>
                <tr style="background-color: #CDC9C9; color: #0e5741">
                    <th><center>Ranking</center></th>
                    <th><center>Corretores</center></th>
                    <th><center>Quantidade</center></th>
                    <th><center>Prêmio</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><center>1</center></th>
                    <td><center>Coorretor 1</center></td>
                    <td><center>10</center></td>
                    <td><center>100.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>2</center></th>
                    <td><center><center>Corretor 2</center></td>
                    <td><center>9</center></td>
                    <td><center>90.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>3</center></th>
                    <td><center>Corretor 3</center></td>
                    <td><center>8</center></td>
                    <td><center>80.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>4</center></th>
                    <td><center>Corretor 4</center></td>
                    <td><center>7</center></td>
                    <td><center>70.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>5</center></th>
                    <td><center>Corretor 5</center></td>
                    <td><center>6</center></td>
                    <td><center>60.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>6</center></th>
                    <td><center>Corretor 6</center></td>
                    <td><center>5</center></td>
                    <td><center>50.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>7</center></th>
                    <td><center>Corretor 7</center></td>
                    <td><center>4</center></td>
                    <td><center>40.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>8</center></th>
                    <td><center>Corretor 8</center></td>
                    <td><center>3</center></td>
                    <td><center>30.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>9</center></th>
                    <td><center>Corretor 9</center></td>
                    <td><center>2</center></td>
                    <td><center>20.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>10</center></th>
                    <td><center>Corretor 10</center></td>
                    <td><center>1</center></td>
                    <td><center>10.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>11</center></th>
                    <td><center>Demais</center></td>
                    <td><center>20</center></td>
                    <td><center>200.000</center></td>
                </tr>
                <tr style="background-color: #CDC9C9; color: #0e5741">
                    <th scope="row"><center>12</center></th>
                    <td><center>Total</center></td>
                    <td><center>40</center></td>
                    <td><center>300.000</center></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <h2 style=" color: #0e5741; border-bottom: 2px solid#0dbf7e">Top 10 Congêneres</h2>
            <table class="table table-hover">
            <thead>
                <tr style="background-color: #CDC9C9; color: #0e5741">
                    <th><center>Ranking</center></th>
                    <th><center>Congêneres</center></th>
                    <th><center>Quantidade</center></th>
                    <th><center>Prêmio</center></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><center>1</center></th>
                    <td><center>Allianz</center></td>
                    <td><center>10</center></td>
                    <td><center>100.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>2</center></th>
                    <td><center>Sompo</center></td>
                    <td><center>9</center></td>
                    <td><center>90.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>3</center></th>
                    <td><center>Tokio Marine</center></td>
                    <td><center>8</center></td>
                    <td><center>80.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>4</center></th>
                    <td><center>Pottencial</center></td>
                    <td><center>7</center></td>
                    <td><center>70.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>5</center></th>
                    <td><center>J. Malluceli</center></td>
                    <td><center>6</center></td>
                    <td><center>60.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>6</center></th>
                    <td><center>Fairfax</center></td>
                    <td><center>5</center></td>
                    <td><center>50.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>7</center></th>
                    <td><center>XL Catlin</center></td>
                    <td><center>4</center></td>
                    <td><center>40.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>8</th>
                    <td><center>Argo</td>
                    <td><center>3</td>
                    <td><center>30.000</td>
                </tr>
                <tr>
                    <th scope="row"><center>9</center></th>
                    <td><center>Porto Seguro</center></td>
                    <td><center>2</center></td>
                    <td><center>20.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>10</center></th>
                    <td><center>Travellers</center></td>
                    <td><center>1</center></td>
                    <td><center>10.000</center></td>
                </tr>
                <tr>
                    <th scope="row"><center>11</center></th>
                    <td><center>Demais</center></td>
                    <td><center>20</center></td>
                    <td><center>200.000</center></td>
                </tr>
                <tr style="background-color: #CDC9C9; color: #0e5741">
                    <th scope="row"><center>12</center></th>
                    <td><center>Total</center></td>
                    <td><center>40</center></td>
                    <td><center>300.000</center></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% include 'dashboard/includes/dashboard_scripts.html' %}

{% endblock %}