{% block content %}
<!-- Chart code -->
<script>

var myPlot = document.getElementById('myDiv'),
    x = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
    y = [1, 2, 3, 2, 3, 4, 3, 6, 7, 8, 9, 3],
    colors =['#00cc66','#00cc66','#00cc66',
             '#00cc66','#00cc66','#00cc66',
             '#00cc66', '#00cc66', '#00cc66', '#00cc66', '#00cc66', '#00cc66'],
    data = [{x:x, y:y,
             type:'bar',
             mode:'markers', marker:{size:16, color:colors}}]
var layout = {
  title:'Evolução do Pipeline',
  titlefont:{color: '#0e5741', size: 24 },
  hovermode:'closest',
  autosize: true,
  width: 700,
  height: 400,
  margin: {
    l: 20,
    r: 0,
    b: 50,
    t: 50,
    pad: 4
  },
  paper_bgcolor: '#f2f2f2',
  plot_bgcolor: '#f2f2f2',
  xaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: true,
    autotick: true,
    ticks: '',
    showticklabels: true
  },
  yaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: false,
    autotick: true,
    ticks: '',
    showticklabels: false
  }
};

Plotly.newPlot('myDiv', data, layout, {displayModeBar: false});

myPlot.on('plotly_hover', function(data){
  var pn='',
      tn='',
      colors=[];
  for(var i=0; i < data.points.length; i++){
    pn = data.points[i].pointNumber;
    tn = data.points[i].curveNumber;
    colors = data.points[i].data.marker.color;
  };
  colors[pn] = '#0e5741';

  var update = {'marker':{color: colors, size:16}};
  Plotly.restyle('myDiv', update, [tn]);
});

myPlot.on('plotly_unhover', function(data){
  var pn='',
      tn='',
      colors=[];
  for(var i=0; i < data.points.length; i++){
    pn = data.points[i].pointNumber;
    tn = data.points[i].curveNumber;
    colors = data.points[i].data.marker.color;
  };
  colors[pn] = '#00cc66';

  var update = {'marker':{color: colors, size:16}};
  Plotly.restyle('myDiv', update, [tn]);
});


</script>
{% endblock %}

