{% block content %}
<!-- Chart code -->
<script>

   var xValue = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
   var yValue = [1, 2, 3, 2, 3, 4, 3, 6, 7, 8, 9, 3];

   var trace1 ={
  x: xValue,
  y: yValue,
    textfont: {
    family: 'sans serif',
    size: 18,
    color: 'rgba(245,246,249)'
  },
  type: 'bar',
  text: yValue,
       font: {
      family: 'Arial',
      size: 29,
      color: 'rgba(245,246,249,1)'
    },
  textposition: 'outside',
  hovertext: ['Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000'],
  hoverinfo: 'text',
  hoverlabel: {
    bgcolor: '#404040',
    font: {color: '#e6e6e6'}
  },
  marker: {
    color: '#0e5741',
    opacity: 0.5,
    line: {
      color: '#003300',
      width: 2
    }
  }
};
var data1 = [trace1];

var layout = {
  title:'Número de Contas por Previsão de Fechamento',
  titlefont:{color: '#0e5741', size: 24 },
  hovermode:'closest',
  autosize: true,
  width: 1410,
  height: 400,
  margin: {
    l: 20,
    r: 30,
    b: 50,
    t: 50,
    pad: 4
  },
  paper_bgcolor: '#f2f2f2',
  plot_bgcolor: '#f2f2f2',
  xaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: true,
    autotick: true,
    ticks: '',
    showticklabels: true
  },
  yaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: false,
    autotick: true,
    ticks: '',
    showticklabels: false
  }
};

Plotly.newPlot('myDiv', data1, layout, {displayModeBar: false});

/*myPlot.on('plotly_hover', function(data){
  var pn='',
      tn='',
      colors=[];
  for(var i=0; i < data.points.length; i++){
    pn = data.points[i].pointNumber;
    tn = data.points[i].curveNumber;
    colors = data.points[i].data.marker.color;
  }
  colors[pn] = '#0e5741';

  var update = {'marker':{color: colors, size:16}};
  Plotly.restyle('myDiv', update, [tn]);
});

myPlot.on('plotly_unhover', function(data){
  var pn='',
      tn='',
      colors=[];
  for(var i=0; i < data.points.length; i++){
    pn = data.points[i].pointNumber;
    tn = data.points[i].curveNumber;
    colors = data.points[i].data.marker.color;
  }
  colors[pn] = '#00cc66';

  var update = {'marker':{color: colors, size:16}};
  Plotly.restyle('myDiv', update, [tn]);
});
*/

//Gráfico 2
   var xValue2 = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'];
   var yValue2 = [1, 2, 3, 2, 3, 4, 3, 6, 7, 8, 9, 3, 1, 2, 3, 2, 3, 4, 3, 6, 7, 8, 9, 3, 1, 2, 3, 2, 3, 4, 3, 6, 7];

   var trace2 ={
       x: xValue2,
  y: yValue2,
  type: 'bar',
  text: yValue2,
  textposition: 'outside',
  hovertext: ['Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000', 'Ganho: 1.000.000<br>Perdido: 200.000<br>Pendente: 1.400.000'],
  hoverinfo: 'text',
  hoverlabel: {
    bgcolor: '#404040',
    font: {color: '#e6e6e6'}
  },
  marker: {
    color: '#0e5741',
    opacity: 0.5,
    line: {
      color: '#003300',
      width: 2
    }
  }
};
var data2 = [trace2];

var layout2 = {
  title:'Contas por Dia',
  titlefont:{color: '#0e5741', size: 24 },
  hovermode:'closest',
  autosize: true,
  width: 700,
  height: 400,
  margin: {
    l: 20,
    r: 30,
    b: 50,
    t: 50,
    pad: 4
  },
  paper_bgcolor: '#f2f2f2',
  plot_bgcolor: '#f2f2f2',
  xaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: true,
    autotick: false,
    ticks: '',
    showticklabels: true
  },
  yaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: false,
    autotick: true,
    ticks: '',
    showticklabels: false
  }
};

Plotly.newPlot('myDiv2', data2, layout2, {displayModeBar: false});

//Gráfico 3
var data = [{
  values: [20, 10, 20, 40, 10 ],
  labels: ['Em negociação', 'Análise Técnica', 'Prospecção', 'Perdido', 'Fechado'],
  marker: {
      colors: ['#ff8000', '#003300', '#999999', '#cca300', '#ffb84d'],
  },
  textfont: {
    family: 'sans serif',
    size: 18,
    color: '#ffffff'
  },
  type: 'pie'
}];

var layout3 = {
  showlegend: true,
    legend: {"orientation": "h"},
  title:'Share por Status',
  titlefont:{color: '#0e5741', size: 24 },
  hovermode:'closest',
  autosize: true,
  width: 310,
  height: 400,
  margin: {
    l: 10,
    r: 30,
    b: 5,
    t: 50,
    pad: 4
  },
  paper_bgcolor: '#f2f2f2',
  plot_bgcolor: '#f2f2f2',
  xaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: true,
    autotick: false,
    ticks: '',
    showticklabels: true
  },
  yaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: false,
    autotick: true,
    ticks: '',
    showticklabels: false
  }
};

Plotly.newPlot('myDiv3', data, layout3);


//Gráfico 4
var data4 = [{
  values: [20, 10, 20 ],
  labels: ['Alta', 'Média', 'Baixa'],
  marker: {
      colors: ['#ff8000', '#003300', '#999999'],
  },
  textfont: {
    family: 'sans serif',
    size: 18,
    color: '#ffffff'
  },
  type: 'pie'
}];

var layout4 = {
  showlegend: true,
    legend: {"orientation": "h"},
  title:'Share por Expectativa',
  titlefont:{color: '#0e5741', size: 24 },
  hovermode:'closest',
  autosize: true,
  width: 315,
  height: 400,
  margin: {
    l: 10,
    r: 30,
    b: 5,
    t: 50,
    pad: 4
  },
  paper_bgcolor: '#f2f2f2',
  plot_bgcolor: '#f2f2f2',
  xaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: true,
    autotick: false,
    ticks: '',
    showticklabels: true
  },
  yaxis: {
    autorange: true,
    showgrid: false,
    zeroline: false,
    showline: false,
    autotick: true,
    ticks: '',
    showticklabels: false
  }
};

Plotly.newPlot('myDiv4', data4, layout4);


</script>
{% endblock %}

