{% block content %}
<div class="bs-example-popovers" style="background-color: #bfbfbf; border: 2px solid#ffffff; margin-bottom: 7px">
    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" style="color: #0e5741; margin-bottom: 5px; margin-top: 5px; margin-left: 5px"><strong>Rankings</strong></button>
    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" style="color: #0e5741"><strong>Contas Perdidas</strong></button>
</div>

<div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de Contas Ganhas</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #006600; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> Contas Ganhas</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de Contas Perdidas</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #ff3300; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">50 </i> Contas Perdidas</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total Pendentes de Fechamento</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #ff8000; margin-left: 14px; font-family: Roboto,Arial,sans-serif">1.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> Contas Pendentes</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 1px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total com Alta Expectativa</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #006600; margin-left: 14px; font-family: Roboto,Arial,sans-serif">300.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> contas pendentes</p>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6" style="border-bottom: 1px solid#bfbfbf; margin-left: 40px; margin-right: 25px; margin-top: 7px">
        <span class="count_top text-nowrap" style="font-size:12px; margin-left: 14px"> Total de prêmio</span>
        <div class="count" style="font-size:3vw; line-height: 47px; font-weight: 600; color: #73879C; margin-left: 14px; font-family: Roboto,Arial,sans-serif">3.000.000</div>
        <p class="count_bottom" style="font-size: 12px; margin-left: 14px"><i class="green" style="color: #339966">150 </i> contas inseridas</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-2 col-xs-6" style="margin-top: 10px; background-color: #f2f2f2">
        <div id="myDiv"></div>
    </div>


    {% include 'dashboard/includes/dashboard_scripts.html' %}

    </div>
{% endblock %}