{% block content %}

    <div class="row" style="background-color: #e6e6e6">
    <h2 class="display-1" style="color: #0e5741"> <strong>Protocolos</strong> </h2>
    </div>
        <div class="row">
            {% csrf_token %}
            <div class="col-sm-12" style="padding-top: 5px; padding-bottom: 10px;background-color: #ffffff">
                <div class="form-group input-group" style="padding-top: 10px">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
                </div>
                <div id="valorPremio" style="margin-bottom: 20px; display: none">
                    <p style="color: #000000"></p>
                </div>
                <form method="post" action="/protocolos/delete/">
            {% csrf_token %}
                <table id="full-table" class="table table-hover" style="background-color: #ffffff;">
                  <thead class="thead-dark" style="background-color: #ff9900;">
                    <tr>
                      <th class="text-center" style="color: #ffffff" scope="col">Regional</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Filial</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Comercial</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Cliente</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Produto</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Previsão de Fechamento</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Prêmio</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Status</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Expectativa</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Editar</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Deletar</th>
                    </tr>
                  </thead>
                  <tbody id="tabela">
                  {% for protocolo in protocolos %}
                        <tr class="clickable-row" name="table-row" onclick="window.location='/home/{{ protocolo.id }}'">
                            <td><center>{{ protocolo.regional }}</center></td>
                            <td><center>{{ protocolo.filial }}</center></td>
                            <td><center>{{ protocolo.comercial }}</center></td>
                            <td><center>{{ protocolo.cliente }}</center></td>
                            <td><center>{{ protocolo.produto }}</center></td>
                            <td><center>{{ protocolo.fechamento }}</center></td>
                            <td id="premio" name="premio"><center>{{ protocolo.premio }}</center></td>
                            <td><center>{{ protocolo.status }}</center></td>
                            <td class="danger"><center>{{ protocolo.expectativa }}</center></td>
                            <td><center><button type="button" class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit" ><span class="glyphicon glyphicon-pencil"></span></button></center></td>
                            <td><center><button name="delete" class="btn btn-danger btn-xs" value="{{ protocolo.id }}" data-title="Delete" data-toggle="modal" data-target="#delete" ><span class="glyphicon glyphicon-trash"></span></button></center></td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </form>
            </div>
        </div>
    {% include 'protocolos/includes/protocolos_scripts.html' %}
{% endblock %}