{% block content %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Quicksearch e bootstrap</title>
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.quicksearch/2.3.1/jquery.quicksearch.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <div class="form-group input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
    </div>
    <div class="row" style="background-color: #e6e6e6">
    <h2 class="display-1" style="color: #0e5741"> <strong>Protocolos</strong> </h2>
    </div>
        <div class="row">
            {% csrf_token %}
            <div class="col-sm-12" style="padding-top: 5px; padding-bottom: 10px;background-color: #ffffff">
                <table id="tabela" class="table table-hover" style="background-color: #ffffff;">
                  <thead "thead-dark" style="background-color: #aca753;">
                    <tr>
                      <th class="text-center" style="color: #ffffff" scope="col">Nº Protocolo</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Regional</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Filial</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Comercial</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Cliente</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Produto</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Previsão de Fechamento</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Prêmio</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Status</th>
                      <th class="text-center" style="color: #ffffff" scope="col">Expectativa</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for protocolo in protocolos %}
                        <tr class="active">
                            <td><center>{{ protocolo.id }}</center></td>
                            <td><center>{{ protocolo.regional }}</center></td>
                            <td><center>{{ protocolo.filial }}</center></td>
                            <td><center>{{ protocolo.comercial }}</center></td>
                            <td><center>{{ protocolo.cliente }}</center></td>
                            <td><center>{{ protocolo.produto }}</center></td>
                            <td><center>{{ protocolo.fechamento }}</center></td>
                            <td><center>{{ protocolo.premio }}</center></td>
                            <td><center>{{ protocolo.status }}</center></td>
                            <td class="danger"><center>{{ protocolo.expectativa }}</center></td>
                        </tr>
                    {% endfor %}
                        <script>
                            $('input#txt_consulta').quicksearch('table#tabela tbody tr');
                        </script>
                  </tbody>
                </table>
            </div>
        </div>
{% endblock %}