{% block content %}
    <script>
        //onload function
        window.onload = onLoad();
        function onLoad(){
            expectativaColors();
            sumPremios();
        }
        function expectativaColors(){
            var expectativa = document.getElementsByName("expectativa");
            var premio = document.getElementsByName("premio");
            for (var i = 0; i < expectativa.length; i++){
                premio[i].innerText = VMasker.toMoney(premio[i].innerText,);
        	    if (expectativa[i].innerText == "Alta" || expectativa[i].textContent == "Alta"){
                	expectativa[i].className = "success"
        	    } else if (expectativa[i].innerText == "Média" || expectativa[i].textContent == "Média"){
        	    	expectativa[i].className = "warning"
        	    }
            }

        }

        //searchbar function


        $(document).ready(function() {
            $('#full-table').DataTable();

            $('#txt_consulta').on( 'keyup click', function () {
                $('#full-table').DataTable().search(
                    $('#txt_consulta').val()
                ).draw();
            });
        });

        function sumPremios(){
            var cls = document.getElementsByName("premio");
            var row = document.getElementsByName("table-row");
            var sum = 0;
            for (var i = 0; i < cls.length; i++){
                if (row[i].style.display !== "none"){
                    sum += isNaN(VMasker.toNumber(cls[i].innerText)) ? 0 : parseInt(VMasker.toNumber(cls[i].innerText));
                }
            }
            var valorPremio = document.getElementById("valorPremio");
            var valorPremioText = valorPremio.getElementsByTagName("p")[0];

            valorPremioText.innerHTML = "O valor total de prêmios é: R$ " + VMasker.toMoney(sum);
        }

        // Filter Function
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $(".dropdown-menu li").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });

    </script>
{% endblock %}