{% block content %}
    <div class="col-sm-12 formset" style="background-color: #e5e5e5">
        <h2 class="display-1" style="color: #0e5741; border-bottom: 2px solid#0dbf7e">Pessoas</h2>
        <div class="row">
            {{ business_plan_formset.management_form }}
            {% for peopleform in business_plan_formset %}
            <div class="col-sm-12 formset-row">
                {% if forloop.counter is 1 %}
                <button class="btn add form-button" style="color: #ffffff;background-color: #0dbf7e; margin-bottom: 10px; width: 100%">Adicionar nova Pessoa</button>
                {% endif %}
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nome</label>
                            {{ peopleform.name }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>E-mail</label>
                            {{ peopleform.email }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Telefone</label>
                            {{ peopleform.cellphone_number }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Aniversário</label>
                            {{ peopleform.birthday }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Cargo</label>
                            {{ peopleform.occupation }}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Hobby</label>
                            {{ peopleform.hobby }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-danger remove form-button" style="margin-bottom: 10px; width: 100%">Apagar Pessoa</button>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}