{% block content %}
    <script language="javascript" type="text/javascript">
        //Show dialog "Informações de Contas Perdidas"
        var show_pipeline = true;
        var perda = document.getElementById("perda");
        var motivoPerda = document.getElementById("loss_detail");
        var congenere = document.getElementById("congener");
        document.getElementById("status").addEventListener("click", displayTextField);
        function displayTextField() {
            var motivo =  document.getElementById("status");
            motivo = motivo.options[motivo.selectedIndex];
            if (motivo.text === "Perdido") {
                perda.style.display = "";
                motivoPerda.required = true;
                congenere.required = true;
            } else {
                perda.style.display = "none";
                motivoPerda.required = false;
                congenere.required = false;
            }
        }
        //Business Plan Behaviour
        function businessPlan() {
            var businessPlanForm = document.getElementById("business_plan_form");
            var pipelineForm = document.getElementById("insert");
            var businessPlanButton = document.getElementById("businessPlanButton");

            if (show_pipeline) {
                pipelineForm.style.display = "none";
                businessPlanForm.style.display="";
                businessPlanButton.firstChild.data = 'Editar Pipeline';
                show_pipeline = false
            } else {
                pipelineForm.style.display = "";
                businessPlanForm.style.display="none";
                businessPlanButton.firstChild.data = 'Editar Business Plan';
                show_pipeline = true
            }
        }

        function formset_recounter(formset, form, defaults, operation, insertButton) {
            insertButton = typeof insertButton !== 'undefined' ? insertButton : insertButton;
            var totalForms = form.querySelector('[id$="-TOTAL_FORMS"]');
            var r = /\d+/;
            var forms = formset.querySelectorAll('.formset-row');
            for (var y = 0; y<forms.length; y++) {
                var row = forms[y].querySelectorAll('[id^="id_form-"]');
                for (var i = 0; i<row.length; i++) {
                    row[i].id = row[i].id.replace(row[i].id.match(r)[0], y);
                    row[i].name = row[i].name.replace(row[i].name.match(r)[0], y);
                    row[i].placeholder = defaults.changePlaceholder ? row[i].placeholder.replace(row[i].placeholder.match(r)[0], forms.length-y) : row[i].placeholder;
                }
            }
            if (insertButton){
                forms[0].insertAdjacentElement('afterbegin',insertButton);
            }
            forms = formset.querySelectorAll('.formset-row');
            totalForms.value = forms.length;
        }
        //Add or delete history dialogs
        function onLoad(defaults) {
            var forms = document.querySelectorAll('form');
            for(var i=0; i<forms.length; i++){
                var formset = forms[i].querySelector('.formset');
                defaults.changePlaceholder = formset.querySelectorAll('.history').length > 0;
                formset_recounter(formset, forms[i], defaults)
            }

        }
        function deleteFormset(div, defaults) {
            var form = div.closest('form');
            var formset = div.closest('.formset');

            if (formset.querySelectorAll('.formset-row').length > 1){
                var insertButton = null;
                // Check if it's first item
                var nodes = div.querySelectorAll('.add');
                if (nodes.length > 0) {
                    insertButton = nodes[0];
                }
                div.remove();
                formset_recounter(formset, form, defaults, -1, insertButton)
            }
        }


        function addFormset(div, defaults) {
            var form = div.closest('form');
            var formset = div.closest('.formset');

            var clone = div.cloneNode(true);
            if (div.getElementsByClassName('form-button')){
                div.querySelector('.form-button').remove()
            }
            var row = clone.querySelectorAll('[id^="id_form-"]');
            for (var i = 0; i<row.length; i++) {
                row[i].value = null;
            }
            div.parentNode.insertBefore(clone, div.parentNode.firstChild);
            formset_recounter(formset, form, defaults, +1)
        }



        defaults={
            changePlaceholder:false
        };
        // ACTIONS BEHAVIOUR
        $(document).ready(function(e){
            onLoad(defaults);
        });
        $(document).on('click', 'button', function(e){
            e.preventDefault();
            // defaults are default configurations, arrays are used for storing data, the rest are configuration
            var buttonClasses = this.classList;
            if (buttonClasses.contains('form-button')) {
                var formset = this.closest('.formset-row');
                defaults.changePlaceholder = buttonClasses.contains('history');
                if (buttonClasses.contains('add')) {
                    addFormset(formset, defaults)
                } else if (buttonClasses.contains('remove')) {
                    deleteFormset(formset, defaults)
                }
            } else if (buttonClasses.contains('change-to-business-plan')) {
                businessPlan()
            }
        });


    </script>
{% endblock %}
