{% block content %}

    <div class="row" id="pipeline_form">
        <div class="col-sm-12" style="background-color: #CDC9C9">
            <div class="col-sm-2">
                <button id="button" onclick="businessPlan()" class="btn" style="background-color: #444444; color: #FFFFFF; margin: 10px">Editar Business Plan</button>
            </div>
        </div>
        <form id="insert" method="post" action={% url 'pipeline' company_name %}>
                {% csrf_token %}
            {% include 'pipeline/includes/pipeline_general_information_include.html' %}
            {% include 'pipeline/includes/pipeline_account_information_include.html' %}
            {% include 'pipeline/includes/pipeline_lost_accounts_information_include.html' %}
            {% include 'pipeline/includes/pipeline_negotiation_history_include.html' %}
            <input type="submit" name="salvar" style="background-color: #444444;color: #FFFFFF; border-radius: 0" class="btn btn-outline-secondary btn-block" value="Salvar"/>
        </form>
        <form id="business_plan_form" method="post" action='{{company_name}}/pipeline/add_bp' style="display: none">
            {% csrf_token %}
            {% include 'pipeline/includes/pipeline_business_plan_include.html' %}
            {% include 'pipeline/includes/pipeline_business_plan_add_people_include.html' %}
        </form>
    </div>

    {% include 'pipeline/includes/pipeline_scripts.html' %}
{% endblock %}