{% block content %}


    <div class="row">
        <form id="insert" method="post" action={% url 'pipeline' %}>
                {% csrf_token %}
            <div class="col-sm-12" style="background-color: #CDC9C9">
                <div class="col-sm-2">
                    <button id="button" onclick="" class="btn" style="background-color: #444444; color: #FFFFFF; margin: 10px">Editar opções de formulário</button>
                </div>
            </div>
            <div class="col-sm-12" style="background-color: #e5e5e5">
                <h2 class="display-1" style="color: #0e5741; border-bottom: 2px solid#0dbf7e">Informações Gerais</h2>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Regional</label>
                            <div>
                                {{ form.regional }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Filial</label>
                            <div>
                                {{ form.subsidiary }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Comercial</label>
                            <div>
                                {{ form.commercial }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="">Corretor</label>
                            <div>
                                {{ form.broker }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="">Cliente</label>
                            <div>
                                {{ form.client }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Produto</label>
                            <div>
                                {{ form.product }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="background-color: #e5e5e5">
                <h2 class="display-1" style="color: #0e5741; border-bottom: 2px solid#0dbf7e">Informações da Conta</h2>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Data de Recebimento</label>
                            <div>
                                {{ form.receipt }}
                                <script>
                                    $(document).ready(function(){
                                        var date_input = $('input[name="receipt"]'); //our date input has the name "date"
                                        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                        var options = {
                                            format: 'dd/mm/yyyy',
                                            language: "pt-BR",
                                            container: container,
                                            todayHighlight: true,
                                            autoclose: true
                                        };
                                        date_input.datepicker(options);
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Previsão de Fechamento</label>
                            <div>
                                {{ form.closure }}
                                <script>
                                    $(document).ready(function(){
                                        var date_input = $('input[name="closure"]'); //our date input has the name "date"
                                        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                        var options = {
                                            format: 'dd/mm/yyyy',
                                            language: "pt-BR",
                                            container: container,
                                            todayHighlight: true,
                                            autoclose: true
                                        };
                                        date_input.datepicker(options);
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Vencimento da Apólice</label>
                            <div>
                                {{ form.maturity }}
                                <script>
                                    $(document).ready(function(){
                                        var date_input = $('input[name="maturity"]'); //our date input has the name "date"
                                        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                        var options = {
                                            format: 'dd/mm/yyyy',
                                            language: "pt-BR",
                                            container: container,
                                            todayHighlight: true,
                                            autoclose: true
                                        };
                                        date_input.datepicker(options);
                                    })
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Prêmio</label>
                            <div>
                                {{ form.prize }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Tipo de Seguro</label>
                            <div>
                                {{ form.insurance_type }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Expectativa</label>
                            <div>
                                {{ form.expectation }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Status</label>
                            <div>
                                {{ form.status }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="">Subscritor</label>
                            <div>
                                {{ form.subscriber }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" id="perda" style="display: none; background-color: #444444">
                <h2 class="display-1" style="color: #0dbf7e; border-bottom: 2px solid#bfbfbf ">Informação de Contas Perdidas</h2>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="" style="color: #0dbf7e">Motivo da Perda</label>
                            <div>
                                {{ form.motivo_perda }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="" style="color: #0dbf7e">Congênere</label>
                            <div>
                                {{ form.congenere }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="" style="color: #0dbf7e">Detalhe da Perda</label>
                            <div>
                                {{ form.comentario_perda }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="background-color: #e5e5e5">
                <h2 class="display-1" style="color: #0e5741; border-bottom: 2px solid#0dbf7e">Histórico de Negociação</h2>
                <div class="row">
                    {{ formset.management_form }}
                    {% for historyform in formset %}
                    <div class="col-sm-12">
                        {% if forloop.counter is 1 %}
                        <button class="btn add-form-row" style="color: #ffffff;background-color: #0dbf7e; margin-bottom: 10px; width: 100%">Adicionar novo Historico</button>
                        {% endif %}
                            {{ historyform.history }}
                        <button class="btn btn-danger remove-form-row" style="margin-bottom: 10px; width: 100%">Apagar Historico</button>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <input type="submit" name="salvar" style="background-color: #444444;color: #FFFFFF; border-radius: 0" class="btn btn-outline-secondary btn-block" value="Salvar"/>
        </form>
    </div>
    <script language="javascript" type="text/javascript">
        function deleteHistory(div) {
             var totalForms = document.querySelector('[id$="-TOTAL_FORMS"]');
             console.log(parseInt(totalForms.value));
             if (parseInt(totalForms.value) > 1){
                 var insertButton = null;
                 // Check if it's first item
                 for (var x = 0; x<div.childNodes.length; x++){
                     try {
                         if (div.childNodes[x].tagName.toLowerCase() === 'button') {
                             if (div.childNodes[x].className.toLowerCase().includes('add-form-row')) {
                                 insertButton = div.childNodes[x];
                                 break;
                             }
                         }
                     } catch (e) {
                         continue;
                     }
                 }
                 div.remove();
                 var historyForms = document.querySelectorAll('[id$="-history"]');
                 console.log(historyForms);
                 for (var y = 0; y<historyForms.length; y++){
                     var r = /\d+/;
                    historyForms[y].id = historyForms[y].id.replace(historyForms[y].id.match(r)[0], historyForms.length - 1 - y);
                    historyForms[y].name = historyForms[y].name.replace(historyForms[y].name.match(r)[0], historyForms.length - 1 - y);
                    historyForms[y].placeholder = historyForms[y].placeholder.replace(historyForms[y].placeholder.match(r)[0], historyForms.length - y);
                    if (insertButton){
                        historyForms[0].parentNode.insertBefore(insertButton,historyForms[0].parentNode.firstChild);
                    }
                 }
             }
             totalForms.value = parseInt(totalForms.value)-1;
        }


        function addHistory(div) {
            var totalForms = document.querySelector('[id$="-TOTAL_FORMS"]');
            var clone = div.cloneNode(true);
            totalForms.value = parseInt(totalForms.value)+1;
            var nodes = clone.childNodes;
            for (var i = 0; i<nodes.length; i++){
                try {
                    if (nodes[i].tagName.toLowerCase() === 'textarea') {
                        var r = /\d+/;
                        clone.childNodes[i].id = clone.childNodes[i].id.replace(clone.childNodes[i].id.match(r)[0], parseInt(clone.childNodes[i].id.match(r)[0]) + 1);
                        clone.childNodes[i].name = clone.childNodes[i].name.replace(clone.childNodes[i].name.match(r)[0], parseInt(clone.childNodes[i].name.match(r)[0]) + 1);
                        clone.childNodes[i].placeholder = clone.childNodes[i].placeholder.replace(clone.childNodes[i].placeholder.match(r)[0], parseInt(clone.childNodes[i].placeholder.match(r)[0]) + 1);
                        clone.childNodes[i].value = '';
                    }
                } catch (e) {
                    continue;
                }
            }
            for (var x = 0; x<div.childNodes.length; x++){
                try {
                    if (div.childNodes[x].tagName.toLowerCase() === 'button') {
                        if (div.childNodes[x].className.toLowerCase().includes('add-form-row')) {
                            div.childNodes[x].remove();
                            break;
                        }

                    }
                } catch (e) {
                    continue;
                }
            }
            div.parentNode.insertBefore(clone, div.parentNode.firstChild)
        }

        $(document).on('click', '.add-form-row', function(e){
            e.preventDefault();
            addHistory(this.parentNode);
            return false;
        });
        $(document).on('click', '.remove-form-row', function(e){
            e.preventDefault();
            deleteHistory(this.parentNode);
            return false;
        });
    </script>
{% endblock %}