{% block content %}


        <div class="row">
            <form method="post" action={% url 'home' %} xmlns="http://www.w3.org/1999/html">
                <div class="col-sm-12" style="background-color: #e6e6e6; padding-top: 5px; padding-bottom: 10px">
                    {% csrf_token %}

                        <div class="col-sm-12">

                            <h2 class="display-1" style="color: #0e5741"> <strong>Informações Gerais</strong> </h2>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Regional</label>
                                        <div>
                                            {{ form.regional }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Filial</label>
                                        <div>
                                            {{ form.filial }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Comercial</label>
                                        <div>
                                            {{ form.comercial }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">Corretor</label>
                                        <div>
                                            {{ form.corretor }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-8">
                                    <div class="form-group">
                                        <label for="">Cliente</label>
                                        <div>
                                            {{ form.cliente }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="">Produto</label>
                                        <div>
                                            {{ form.produto }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h2 class="display-1" style="color: #0e5741"> <strong>Informações da Conta</strong> </h2>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Data de Recebimento</label>
                                        <div>
                                            {{ form.recebimento }}
                                            <script>
                                                $(document).ready(function(){
                                                    var date_input = $('input[name="recebimento"]'); //our date input has the name "date"
                                                    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                                    var options = {
                                                        format: 'dd/mm/yyyy',
                                                        language: "pt-BR",
                                                        container: container,
                                                        todayHighlight: true,
                                                        autoclose: true
                                                    };
                                                    date_input.datepicker(options);
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Previsão de Fechamento</label>
                                        <div>
                                            {{ form.fechamento }}
                                            <script>
                                                $(document).ready(function(){
                                                    var date_input = $('input[name="fechamento"]'); //our date input has the name "date"
                                                    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                                    var options = {
                                                        format: 'dd/mm/yyyy',
                                                        language: "pt-BR",
                                                        container: container,
                                                        todayHighlight: true,
                                                        autoclose: true
                                                    };
                                                    date_input.datepicker(options);
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Vencimento da Apólice</label>
                                        <div>
                                            {{ form.vencimento }}
                                            <script>
                                                $(document).ready(function(){
                                                    var date_input = $('input[name="vencimento"]'); //our date input has the name "date"
                                                    var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
                                                    var options = {
                                                        format: 'dd/mm/yyyy',
                                                        language: "pt-BR",
                                                        container: container,
                                                        todayHighlight: true,
                                                        autoclose: true
                                                    };
                                                    date_input.datepicker(options);
                                                })
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Prêmio</label>
                                        <div>
                                            {{ form.premio }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Tipo de Seguro</label>
                                        <div>
                                            {{ form.tipo_de_seguro }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Expectativa</label>
                                        <div>
                                            {{ form.expectativa }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Status</label>
                                        <div>
                                            {{ form.status }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="">Subscritor</label>
                                        <div>
                                            {{ form.subscritor }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <div class="col-sm-12">

                            <h2 class="display-1" style="color: #0e5741"> <strong>Histórico</strong> </h2>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_1 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_2 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_3 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_4 }}
                                </div>
                            </div><div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_5 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_6 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_7 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_8 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_9 }}
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    {{ form.historico_10 }}
                                </div>
                            </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="submit" name="salvar" style="background-color: #ff9900" class="btn btn-outline-secondary btn-block" value="Salvar"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}